.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    object-fit: cover;
}

.container dialog {
    height: 100%;
}

.searchbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.searchbox input {
    height: 30px;
    font-size: 20px;
    padding: 15px 10px;
    outline: none;
}


.photoCard_container {
    overflow: hidden;
}

.gallery_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media only screen and (max-width: 1200px) {
    .gallery_container {
        grid-template-columns: repeat(3, 1fr);
    }   
}


@media only screen and (max-width: 1000px) {
    .gallery_container {
        grid-template-columns: repeat(2, 1fr);
    }   
}

@media only screen and (max-width: 680px) {
    .gallery_container {
        grid-template-columns: repeat(1, 1fr);
    }   
}