.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    gap: 20px;
    align-items: center;
}

.back {
    font-size: 30px;
    
}

.photoCard_container {
    overflow: hidden;
}

.gallery_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media only screen and (max-width: 1200px) {
    .gallery_container {
        grid-template-columns: repeat(3, 1fr);
    }   
}

@media only screen and (max-width: 1000px) {
    .gallery_container {
        grid-template-columns: repeat(2, 1fr);
    }   
}

@media only screen and (max-width: 680px) {
    .gallery_container {
        grid-template-columns: repeat(1, 1fr);
    }   
}