.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    gap: 20px;
    align-items: center;
}

.back {
    font-size: 30px;
    
}

.gallery_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}